@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, .font-serif {
    font-family: 'Lora', serif !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fafaf9; /* stone-50 */
}
